:root {
  --color-light: #ffffff;
  --color-medium: #E2E0A0;
  --color-dark: #664445;

  --bg-light: #ffffff;
  --bg-dark: #664445;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: relative;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  background-color: var(--bg-light);
  width: 100%;
  z-index: 1;
}

header img {
 width: 150px;
}

header ul {
  display: none;
}

aside ul.clicked {
  display: block;
  background-color: var(--bg-dark);
  position: absolute;
  width: 100%;
  margin-top: 6rem;
}

aside a {
  color: var(--color-light);
  text-decoration: none;
}

aside li {
  text-align: center;
  padding: 2rem;
}

.bar-icon {
  color: var(--bg-dark);
  justify-self: end;
  font-size: 1.6rem;
  margin: 1.5rem 0.5rem 0 0;
  background-color: transparent;
  border: none;
}

.header-logo {
  margin-top: .3rem;
}

.hero-section {
  display: grid;
  padding-top: 6rem;
}

.hero-section article {
  display: grid;
}

.hero-section img, .section-two img {
  width: 260px;
  padding: 1rem;
  margin: 0 auto;
}

.small-text {
  margin-top: 1rem;
}

.hero-section h1, .section-two h2 {
  font-size: 1.9rem;
  padding: 0.5rem;
  width: 18rem;
  color: var(--color-dark);
  justify-self: center;
  text-align: center;
}

h1, p {
  color: var(--color-dark);
  text-align: center;
  justify-self: center;
}

.hero-pargh, .section-two p {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  width: 18rem;
  margin: 0 auto;
  letter-spacing: 1px;
}

.section-two {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.section-two img {
  grid-row: 1 / 2;
}

.section-two article {
  display: grid;
}

.btn {
  padding: .6rem;
  border: none;
  background-color: var(--bg-dark);
  color: var(--color-light);
  cursor: pointer;
}

.btn-book {
  width: 100px;
  margin-left: 1rem;
  align-self: center;
  margin: 0 auto;
}

.section-tree {
  display: grid;
  row-gap: 2rem;
  align-items: center;
  justify-items: center;
  margin-top: 3rem;
}

.section-tree img {
  width: 230px;
}

.fish-img-box {
  grid-row: 1 / 2;
}

.section-tree h2 {
  width: 17rem;
  text-align: center;
  color: var(--color-dark);
}

.tamal-box, .fish-img-box {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

.tamal-box p {
  padding: 1rem;
}

footer {
  background-color: var(--bg-dark);
  display: grid;
  row-gap: 1rem;
}

.footer-links {
  display: grid;
  color: var(--color-light);
  text-align: center;
  row-gap: .5rem;
}

footer img {
  width: 200px;
}

.footer-logo {
  justify-self: center;
}

/* MENU PAGE */
.menu-container {
  background-color: var(--bg-dark);

}

.menu-container h1 {
  padding-top: 10rem;
  margin-bottom: 2.5rem;
  color: var(--color-medium);
}

.menu-container h2 {
  width: 8rem;
  margin: 0 auto;
  padding: .7rem 0;
  color: var(--color-light);
  text-align: center;
  margin-bottom: 2.5rem;
  border-top: 1px solid var(--color-light);
  border-bottom: 1px solid var(--color-light) ;
}

.dishes-menu {
  display: grid;
  text-align: center;
  row-gap: 1rem;
  padding-bottom: 4rem;
}

.dishes-menu img {
  width: 200px;
}

.dishes-menu article {
  display: grid;
  justify-items: center;
  row-gap: .7rem;
}

.dishes-menu article div {
  display: grid;
  row-gap: .8rem;
}

.dishes-menu p {
  color: var(--color-light);
  width: 20rem;
}

.price {
  color: var(--color-medium);
  font-weight: 400;
}

.dishes-menu h3 {
  color: var(--color-medium);
}

.form-box {
  padding-top: 8rem;
  background-color: var(--bg-dark);
}

.form-box p {
  padding: .7rem 1.5rem;
}

.form-box h1 {
  font-size: 3rem;
}

.form-box p, .form-box a {
  color: var(--bg-light);
  text-decoration: none;
}

.form-box h1 {
  color: var(--color-medium);
}

.contact-us, .book-now {
  display: grid;
  justify-items: center;
  row-gap: .4rem;
}

.book-now {
  padding-top: 1.7rem;
}

.book-now h2 {
  font-size: 2rem;
  color: var(--color-medium);

}

form {
  padding: .7rem 2rem;
  display: grid;
  row-gap: .5rem;
}

/* INPUT PLACEHOLDER */

input::-webkit-input-placeholder {
  color:  #e9e7e7; 
}

input::-moz-placeholder {
  color:  #e9e7e7; 
}

input:-ms-input-placeholder {
  color:  #e9e7e7; 
}

input::-ms-input-placeholder {
  color: #e9e7e7; 
}

input::placeholder {
  color: #e9e7e7; 
}

input {
  background-color: var(--bg-dark);
  border: none;
  border-bottom: 1px solid var(--color-light);
  padding: 0.2rem;
  color: #ffffff;
}

textarea {
  background-color: var(--bg-dark);
  padding: .8rem .5rem;
  color: var(--color-light);
  border: none;
  border-bottom: 1px solid var(--color-light);
}

textarea::-webkit-input-placeholder {
  color: #e9e7e7;
}

textarea::-moz-placeholder {
  color: #e9e7e7;
}

textarea:-ms-input-placeholder {
  color: #e9e7e7;
}

textarea::-ms-input-placeholder {
  color: #e9e7e7;
}

textarea::placeholder {
  color: #e9e7e7;
}

textarea:focus, input:focus {
  outline: none;
}

input[type="time"], input[type="date"] {
  color:  #e9e7e7;
}

/* - Cambiando el icono desplegable de los inputs DATE y Time
   - Changing the drop-down icon for the DATE and Time Inputs
*/

input[type="time"]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1); 
}

.booking-box {
  padding: 1rem;
}

.btn-light {
  background-color: var(--bg-light);
  color: var(--color-dark);
  width: 4.5rem;
  justify-self: center;
}

.booking-view {
  display: grid;
  justify-content: center;
  text-align: center;
  row-gap: 1rem;
}

.booking-view h3 {
  font-size: 2rem;
  color: var(--color-dark);
  margin-top: 1rem;
}

.booking-box {
  border: 1px dashed var(--color-dark);
  margin: 1rem 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 30px;
  
}

.booking-view p {
  color: #000;
  text-align: start;
  padding: .2rem 0;
}

p span {
  color: var(--color-dark);
  font-weight: bold;
}

.booking-box button {
  height: 30px;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: var(--color-dark);
  cursor: pointer;
}

.envelope {
  font-size: 1.2rem;
}

.contact-info {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  margin-left: 1rem;
  align-items: center;
  -moz-column-gap: .5rem;
       column-gap: .5rem;
  color: #e9e7e7;
}

.btn-link {
  justify-self: center;
}


@media screen and (min-width: 768px) {
  
  header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    justify-self: end;
    list-style-type: none;
    align-self: center;
    padding-right: 2rem;
  }

  header ul a {
    text-decoration: none;
    color: var(--color-dark);

  }

  .bar-icon {
    display: none;
  }

  .header-logo {
    margin-left: 2rem;
  }

  .hero-section {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-section img, .section-two img {
    width: 320px;
  }

  .hero-section h1 {
    text-align: start;
    width: 25rem;
  }

  .hero-section article  {
    justify-content: start;
  }

  .hero-pargh {
    width: 26rem;
    text-align: start;
  }

  h1, p {
    text-align: start;
    margin: none;
    width: 17rem;
  }

  .small-text {
    width: 24rem;
  }

  .section-two {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1fr 1fr min-content;
    margin-top: 6rem;
  }

  .section-two article {
    align-items: center;
  }
  
  .section-two img {
    grid-column: 2 / 3;
  }

  .section-two h2 {
    text-align: start;
    align-self: end;
  }

  .section-two p {
    align-self: start;
    text-align: start;
  }

  .btn-book {
    justify-self: start;
    margin: 0 1rem;
  }

  .btn-link {
    justify-self: start;
    cursor: pointer;
  }

  .section-tree {
    width: 75vw;
    grid-template-columns: 1fr 1fr 3fr;
    padding-bottom: 5rem;
    position: relative;
    margin: 0 auto;
    margin-top: 6rem;
  }

  .section-tree img {
    width: 180px;
    align-items: center;
  }

  .section-tree h2 {
    width: auto;
    text-align: start;
  }

  .tamal-box {
    grid-row: 1 / 2;
    row-gap: 0;
  }

  .tamal-box img {
    padding-top: 1rem;
    justify-self: start;
    margin-left: 1rem;
  }

  .fish-img-box {
    grid-column: 3 / 4;
    width: 100%;
    padding-bottom: 3rem;
  }

  .bandeja-paisa-dish {
    padding-top: 10rem;
    position: absolute;
  }

  .fish-img-box img {
    padding-top: 7rem;
    justify-self: end;

  }

  .fish-img-box {
    background-color: var(--bg-dark);
    color: var(--color-light);
  }

  .fish-img-box h2 {
    color: var(--color-light);
    padding: 3rem 1rem;
    font-size: 2rem;
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footer-links {
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    justify-items: end;
    padding-right: 1rem;
  }

  .footer-logo {
    justify-self: start;
    padding-left: 1rem;
  }

  .menu-container h1 {
    text-align: center;
    width: auto;
  }

  .dishes-menu {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
  }

  .dishes-menu img {
    width: 150px;
  }

  .dishes-menu p {
    width: 10rem;
  }

  .dishes-menu article {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10rem 3rem 1rem;
    justify-items: center;
  }

  .contact-us {
    height: 12rem;
    justify-items: start;
    padding-top: 1.8rem;
  }

  .contact-us p {
    width: auto;
    padding: 0.7rem 1rem ;
  }

  .contact-us h1 {
    padding-left: 1rem;
    font-size: 3rem;
  }

  .contact-us p, .contact-us h1 {
    justify-self: start;
  }

  .booking-view {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10rem;
  }

  .booking-view h3 {
    grid-column: 1 / -1;
  }
  


}

@media screen and (min-width: 1280px) {
  .hero-section h1, .section-two h2 {
    font-size: 3rem;
  }

  .hero-section img, .section-two img {
    width: 400px;
  }

  .section-tree img {
    width: 300px;
    align-items: center;
  }

  .tamal-box p {
    width: 25rem;
    }

    .fish-img-box {
      padding: 0 2rem 3rem;
    }

    .dishes-menu {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4.5rem;
    }
  
    .dishes-menu img {
      width: 200px;
    }

    .dishes-menu article div {
      justify-self: start;
    }

    .form-box {
      padding: 10rem 8rem 1rem;
    }

    .booking-view {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 10rem;
    }
}



